$timer-font: 'Orbitron', sans-serif;
$clock-background: #000000;
$clock-font-color: 	#32CD32;


body {
  font-family: $timer-font;
  color: $clock-font-color;
}

h1 {
  font-size: 5em;
}

button {
  font-family: $timer-font;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  background-color: $clock-background;
  color: $clock-font-color;
  padding-top: 5px;
  border-color: $clock-font-color;
  width: 100px;
  height: 50px;
}

button:focus {
  outline: 0;
}

button:hover {
  opacity: .5;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stopwatch {
  background-color: $clock-background;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  width: 80vh;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
}

.splits-title {
  color: $clock-background;
}

.split-list {
  list-style-type: none;
  padding-inline-start: 0px;
}

.split {
  padding: 5px;
  font-weight: 900;
}

.split-clicked {
  background-color: $clock-background;
}
